*.com
*.dll
*.exe
*.o
*.so
*.log
*.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
Bin
Obj

/Temp/
/Library/assetDatabase3
/Library/AssetServerCacheV3
/Library/BuildPlayer.prefs
/Library/BuildSettings.asset
/Library/EditorSettings.asset
/Library/EditorUserBuildSettings.asset
/Library/FailedAssetImports.txt
/Library/InspectorExpandedItems.asset
/Library/MonoManager.asset
/Library/QualitySettings.asset
/Library/ScriptMapper
/Library/TagManager.asset
/Library/cache/
/Library/guidmapper
/Library/metadata
/Library/ScriptAssemblies
/Library/expandedItems
/Library/previews
/Library/ScriptAssemblies/Assembly-CSharp.dll
/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb 
*.sln
*.pidb
*.csproj
build
